{% extends "layout.html" %}

{% block main %}

<table class="cart">
  <tr>
    <th>Product</th>
    <th>Price</th>
  </tr>
    {% for product in data%}
  <tr>
    <td>{{product["name"]}}</td>
    <td>{{product["price"]}}</td>
     <form action="/delete" method="post">
       <td> <input type="submit" value="DEL">
            <input type="text" name="id" value="{{product.idd}}">
       </td>
     </form>
    <td><a href="" class="btn btn-info btn-sm">SAVE</a></td>
    <td><a href="" class="btn btn-success btn-sm">PAY</a></td>
  </tr>
    {%endfor%}
   <tr>
    <th></th>
    <th>Total</th>
   </tr>
    <tr>
    <td></td>
    <td>"price"</td>
  </tr>

</table>


{% endblock %}