{% extends "layout.html" %}

{% block main %}

  <table class="cart">
   <tr>
    <th>Product</th>
    <th>Price</th>
    <th>hidenID</th>
    <th>QTY</th>
   </tr>

    {% for product in data%}
   <tr>
    <td>{{product["name"]}}</td>
    <td>{{product["price"]}}</td>
     <form action="/delete" method="post">
       <td>
            <input type="submit" value="DEL">
            <input type="text" name="id" value="{{product.idd}}">
        </td>
         <td>
           <input type="number" step="1" min="1" max="9"  name="quant" value="{{product.qty}}" title="Qty" size="1"  inputmode="numeric">

        </td>
     </form>
   </tr>
    {%endfor%}

   <tr>
    <th></th>
    <th>Total</th>
   </tr>
    <tr>
    <td></td>
    <td>"price"</td>
    <td> <a class="btn btn-info btn-sm" href="/delivery">next</a></td>
    <td><a class="btn btn-info btn-sm" href="/home"> back</a></td>
  </tr>
 </table>


{% endblock %}